/* Copyright Nick Thorpe 2023 */

@font-face {
    font-family: rubik;
    src: url("assets/rubik.ttf");
}

body {
	box-sizing: border-box;
	background-image: url("assets/background.webp");
	background-position: center top;
	background-color: #222222;
	color: #EEEEEE;
	font-family: rubik;
	text-align: center;
	margin: 0;
}

div {
	margin: 0px auto;
}

#navigation {
	width: 100%;
	position: sticky;
	top: 0;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navigation a {
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	border: 2px solid #20E128;
	border-radius: 5px;
}

#navigation a:link {
	color: #20E128;
}

#navigation a:visited {
	color: #20E128;
}

#navigation a:hover {
	background: #222222;
	color: #EEEEEE;
}

#content {
	width: 95%;
	background: #222222;
	margin-top: 25px;
	border: 2px solid #20E128;
	border-radius: 10px;
}

#warning {
	font-size: 69px;
	margin: 69px;
	color: #F42069;
}

h1 {
	font-size: 40px;
	margin: 0px;
	padding: 15px;
}

.information {
	width: fit-content;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #20E128;
	border-radius: 5px;
}

p {
	font-size: 16px;
	margin: 0 auto;
	padding: 5px
}

table {
	margin: 0 auto;
	margin-top: 25px;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

footer {
	padding: 15px;
}
