/* Copyright Nick Thorpe 2023 */

@font-face {
    font-family: rubik;
    src: url(assets/rubik.ttf);
}

body {
	box-sizing: border-box;
	background-image: url("assets/background.webp");
	background-position: center top;
	background-color: #222222;
	color: #EEEEEE;
	font-family: rubik;
	text-align: center;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

h1 {
	font-size: 40px;
	margin: 0px;
	padding: 15px;
}

h2 {
	margin: 0px;
	padding: 5px;
}

p {
	font-size: 16px;
}

button {
	width: 100px;
	height: 30px;
	background: #444444;
	color: #EEEEEE;
	font-size: 16px;
	font-family: rubik;
	margin: 10px;
	border-style: solid 2px black;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

div {
	margin: 0px auto;
}

figcaption {
	font-size: 14px;
	font-family: rubik;
}

#content {
	width: 95%;
	background: #222222;
	border: 2px solid #20E128;
	border-radius: 10px;
}

.warning {
	font-size: 69px;
	margin: 69px;
	color: #F42069;
}

.navigation {
	width: fit-content;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #20E128;
	border-radius: 5px;
}

.information {
	width: fit-content;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #20E128;
	border-radius: 5px;
}

table {
	margin: 0px auto;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

footer {
	position: relative;
	background: #222222;
	padding: 10px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

a:link {
	color: #EEEEEE;
}

a:visited {
	color: #EEEEEE;
}

a:hover {
	color: #EEEEEE;
	cursor: default;
}
